.container-sessionThird {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-sessionThird h3 {  
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: #f2d22e;
}

.container-sessionThird p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  color: white;
  max-width: 70%;
}

.container-sessionThird:nth-of-type(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 20%,
      rgba(0, 0, 0, 0.6) 40%,
      #000 100%
    ),
    url(/img/placa5.jpeg);
}

.container-form form {
  width: 450px;
  display: flex;
  flex-direction: column;     
}

.input-group {
  margin-top: 12px;
}

.input-group input,
.input-group .textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 16px;
  outline: none;
}

.input-group label {
  font-size: 20px;  
  color: #f2d22e;
}

.container-form .textarea {
  height: 150px;
  margin-bottom: 10px;
}

.container-form .textarea:focus {
  outline: none;
  border-color: #007bff;
}

.btn-form {
  display: flex;
  justify-content: flex-end
}

.container-form button {
  margin-top: 10px;
  width: 200px;
  border: none;
  border-radius: 7px;
  height: 40px;
  font-size: 20px;
  background-color: #f2d22e;
}

.container-form button:hover {
  cursor: pointer;
  transition: ease-in-out 0.4s;
  background-color: #967d01;
}

.group-police-form {
  display: flex;
  justify-content: center;  
}

.group-police-form label {
  color: #fff;
  font-size: 12px;
}

.group-police-form input {
  margin-right: 5px;
}

.group-police-form a {
  color: #f2d22e;
}
@media (max-width: 768px) {
  /* Estilos para telas menores */
  .container-sessionThird h3 {
    font-size: 32px;
    margin-top: 20px;
    padding: 10px;
  }

  .container-sessionThird p {
    font-size: 16px;
    max-width: 90%;
  }
  .container-form {
    margin-top: -40px;
  }
  .container-form input,
  .container-form .textarea {
    max-width: 300px;
  }

  .container-form button {
    width: 70%;
    font-size: 15px;
  }
}
