.container-sessionSencudary {
  height: 100vh;
  width: 100%;
  padding: 5px;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-sessionSencudary h1 {
  font-size: 50px;
  color: #f2d22e;
  text-align: center;
}

.container-about {
  width: 90%;
  height: 50%;
}

.container-about p {
  font-size: 24px;
  color: #fff;
  margin-top: 18px;
}

@media (max-width: 768px) {
  /* Estilos para telas menores */
  .container-sessionSencudary h1 {
    font-size: 32px;
  }

  .container-about {
    width: 100%;
    height: auto;
  }

  .container-about p {
    font-size: 18px;
  }
}
